@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

span {
  display: inline-block; }

.clear {
  clear: both; }

/* Header
========================*/
@media only screen and (min-width: 992px) {
  .container {
    padding: 0; } }

.container-menu {
  width: 100%;
  padding: 0 5px; }
  @media only screen and (min-width: 1240px) {
    .container-menu {
      width: 1172px;
      margin: 0 auto; } }

.header-top {
  background: #1F5E98;
  width: 100%;
  min-height: 44px;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .header-top {
      height: 60px; } }
  .header-top .bars {
    position: absolute;
    left: 10px;
    top: 10px; }
    @media only screen and (min-width: 992px) {
      .header-top .bars {
        display: none; } }
    .header-top .bars .fa-bars {
      color: #fff;
      font-size: 22px;
      cursor: pointer; }

.main-menu {
  text-align: center;
  display: none; }
  @media only screen and (min-width: 992px) {
    .main-menu {
      display: block !important; } }
  .main-menu ul {
    padding: 36px 0px 10px; }
    @media only screen and (min-width: 992px) {
      .main-menu ul {
        display: flex;
        justify-content: space-between;
        padding: 0; } }
    .main-menu ul li a, .main-menu ul li span {
      font-size: 16px;
      color: #fff;
      font-family: "Lato-Light"; }
    .main-menu ul li .rice {
      display: none; }
      @media only screen and (min-width: 992px) {
        .main-menu ul li .rice {
          display: inline-block; } }
    .main-menu ul li a {
      display: block;
      padding: 9px 0px;
      position: relative; }
      @media only screen and (min-width: 992px) {
        .main-menu ul li a {
          display: inline-block;
          line-height: 39px; } }
      .main-menu ul li a:hover {
        background: rgba(255, 255, 255, 0.5); }
        @media only screen and (min-width: 992px) {
          .main-menu ul li a:hover {
            background: none; } }
    @media only screen and (min-width: 992px) {
      .main-menu ul li .menu-item {
        width: 118px; }
        .main-menu ul li .menu-item:hover {
          border-bottom: 2px solid red; } }
    @media only screen and (min-width: 1240px) {
      .main-menu ul li:last-child {
        margin-right: 43px;
        margin-left: 82px; } }
    .main-menu ul li:last-child .enter {
      position: relative; }
      .main-menu ul li:last-child .enter:after {
        position: absolute;
        content: "";
        width: 16px;
        height: 20px;
        background: url(../img/zamok.png) no-repeat;
        left: -28px;
        top: 16px; }

/* header-bottom
=======================*/
@media only screen and (min-width: 992px) {
  .header-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 46px; } }
.header-bottom__box {
  font-family: "Lato-Light";
  font-size: 16px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
  line-height: 23px; }
  @media only screen and (min-width: 992px) {
    .header-bottom__box {
      text-align: left; } }
  .header-bottom__box_inner {
    width: 240px;
    margin: 0 auto; }
  .header-bottom__box_inner1 {
    float: left; }
    .header-bottom__box_inner1 span {
      color: black; }
  .header-bottom__box_inner1:nth-child(2) {
    padding-left: 30px;
    text-align: left; }
@media only screen and (min-width: 992px) {
  .header-bottom__box:nth-child(1) {
    padding-left: 6px; }
  .header-bottom__box:nth-child(2) {
    width: 26%; }
  .header-bottom__box:nth-child(3) {
    padding-top: 10px; }
  .header-bottom__box:nth-child(4) {
    padding-left: 10px; } }
.header-bottom__box:nth-child(2) {
  margin-top: -20px; }
  @media only screen and (min-width: 992px) {
    .header-bottom__box:nth-child(2) {
      margin-top: 0; } }
.header-bottom__box:nth-child(3) {
  font-family: "MyriadPro-Regular"; }
.header-bottom__box:nth-child(4) span {
  display: inline-block;
  position: relative;
  padding-left: 21px; }
.header-bottom__box:nth-child(4) span:first-child:after {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 15px;
  height: 25px;
  background: url(../img/tel.png) no-repeat left center; }
.header-bottom__box:nth-child(4) span:last-child:after {
  position: absolute;
  content: "";
  top: 3px;
  left: -2px;
  width: 19px;
  height: 13px;
  background: url(../img/email.png) no-repeat left center; }

.poisk-wrap {
  max-width: 606px;
  margin: 0 auto;
  position: relative; }
  .poisk-wrap input[type="text"] {
    width: 100%;
    outline: none;
    height: 39px;
    background-color: white;
    border: 4px solid #3c5e95;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 38px;
    font-size: 16px;
    color: #989898;
    font-family: "Lato-Light"; }
  .poisk-wrap input[type="submit"] {
    background: url(../img/lupa.png);
    width: 12px;
    height: 12px;
    outline: none;
    border: none; }
  .poisk-wrap .poisk-button {
    position: absolute;
    right: 18px;
    top: 9px; }

/* Slider
===========================*/
.header-slider {
  background: url(../img/bg.jpg) no-repeat top center;
  padding-top: 69px;
  width: 100%;
  background-size: cover;
  margin-top: 22px;
  padding-bottom: 20px; }

.header-title {
  color: #fff;
  font-family: "Lato-Light";
  display: inline-block;
  position: relative;
  font-size: 39px;
  padding-left: 10px;
  margin-bottom: 33px; }
  .header-title:after {
    position: absolute;
    content: "";
    width: 55px;
    height: 2px;
    left: 42px;
    bottom: -16px;
    background: url(../img/cherta.png) no-repeat; }
  @media only screen and (min-width: 768px) {
    .header-title {
      padding-left: 39px;
      font-size: 60px; } }

.header-slogan {
  font-family: "Lato-Heavy";
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding-left: 10px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .header-slogan {
      padding-left: 39px;
      font-size: 24px;
      padding-bottom: 128px; } }

.slider-container {
  max-width: 1050px;
  margin: 0 auto;
  padding-bottom: 6px; }

.slider-wrap {
  background: #fff;
  padding-top: 13px;
  padding-bottom: 16px; }

.slider-line {
  height: 2px;
  width: 100%;
  background: url(../img/line2.jpg) no-repeat top center;
  background-size: cover; }

#slider__actual .item-box-img1 {
  background: url(../img/p1.png) no-repeat top center; }
#slider__actual .item-box-img2 {
  background: url(../img/p2-1.png) no-repeat top center; }
#slider__actual .item-box-img3 {
  background: url(../img/p3.png) no-repeat top center; }
#slider__actual .item-box-img4 {
  background: url(../img/p4.png) no-repeat top center; }
#slider__actual .item-box-img5 {
  background: url(../img/p5.png) no-repeat top center; }
#slider__actual .item-box-img6 {
  background: url(../img/p6.png) no-repeat top center; }
#slider__actual .item-box-img7 {
  background: url(../img/p7.png) no-repeat top center; }
#slider__actual .item-box-img8 {
  background: url(../img/p8.png) no-repeat top center; }
#slider__actual .item-box-img9 {
  background: url(../img/p9.png) no-repeat top center; }
#slider__actual .item-box-img10 {
  background: url(../img/p10.png) no-repeat top center; }
#slider__actual .owl-dots {
  display: none !important; }
#slider__actual .item-box {
  text-align: center;
  width: 90px; }
  #slider__actual .item-box a {
    display: inline-block; }
  @media only screen and (min-width: 992px) {
    #slider__actual .item-box {
      width: 116%; } }
  @media only screen and (min-width: 1240px) {
    #slider__actual .item-box {
      width: 100%; } }
  #slider__actual .item-box .item-box-img {
    width: 40px;
    height: 39px;
    margin: 0 auto;
    text-align: center; }
  #slider__actual .item-box p {
    color: #155793;
    font-size: 11px;
    font-family: "Lato-Light";
    padding: 0 8px; }

.item-box__1 a {
  display: inline-block; }
  .item-box__1 a:hover p {
    color: red !important; }
  .item-box__1 a:hover .item-box-img1 {
    background: url(../img/p1-2.png) no-repeat top center !important; }

.item-box__2 a {
  display: inline-block; }
  .item-box__2 a:hover p {
    color: red !important; }
  .item-box__2 a:hover .item-box-img2 {
    background: url(../img/p2.png) no-repeat top center !important; }

.item-box__3 a {
  display: inline-block; }
  .item-box__3 a:hover p {
    color: red !important; }
  .item-box__3 a:hover .item-box-img3 {
    background: url(../img/p3-2.png) no-repeat top center !important; }

.item-box__4 a {
  display: inline-block; }
  .item-box__4 a:hover p {
    color: red !important; }
  .item-box__4 a:hover .item-box-img4 {
    background: url(../img/p4-2.png) no-repeat top center !important; }

.item-box__5 a {
  display: inline-block; }
  .item-box__5 a:hover p {
    color: red !important; }
  .item-box__5 a:hover .item-box-img5 {
    background: url(../img/p5-2.png) no-repeat top center !important; }

.item-box__6 a {
  display: inline-block; }
  .item-box__6 a:hover p {
    color: red !important; }
  .item-box__6 a:hover .item-box-img6 {
    background: url(../img/p6-2.png) no-repeat top center !important; }

.item-box__7 a {
  display: inline-block; }
  .item-box__7 a:hover p {
    color: red !important; }
  .item-box__7 a:hover .item-box-img7 {
    background: url(../img/p7-2.png) no-repeat top center !important; }

.item-box__8 a {
  display: inline-block; }
  .item-box__8 a:hover p {
    color: red !important; }
  .item-box__8 a:hover .item-box-img8 {
    background: url(../img/p8-2.png) no-repeat top center !important; }

.item-box__9 a {
  display: inline-block; }
  .item-box__9 a:hover p {
    color: red !important; }
  .item-box__9 a:hover .item-box-img9 {
    background: url(../img/p9-2.png) no-repeat top center !important; }

.item-box__10 a {
  display: inline-block; }
  .item-box__10 a:hover p {
    color: red !important; }
  .item-box__10 a:hover .item-box-img10 {
    background: url(../img/p10-2.png) no-repeat top center !important; }

.nav-left {
  background: url(../img/left.png) no-repeat;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 31%;
  left: 0px;
  transform: translate(-50); }
  @media only screen and (min-width: 992px) {
    .nav-left {
      left: -10px;
      top: 26%; } }
  @media only screen and (min-width: 1240px) {
    .nav-left {
      top: 33%;
      left: -58px; } }

.nav-right {
  background: url(../img/right.png) no-repeat;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 31%;
  right: 0px;
  transform: translate(-50); }
  @media only screen and (min-width: 992px) {
    .nav-right {
      right: -10px;
      top: 26%; } }
  @media only screen and (min-width: 1240px) {
    .nav-right {
      top: 33%;
      right: -58px; } }

/* Footer
===============================*/
.footer-top {
  background: #1F5E98;
  width: 100%;
  border-bottom: 1px solid #C5C5C5;
  padding: 11px 0px; }
  .footer-top__left {
    margin-bottom: 15px; }
    @media only screen and (min-width: 768px) {
      .footer-top__left {
        width: 56%;
        float: left;
        margin-bottom: 0;
        padding-top: 5px; } }
    .footer-top__left span {
      font-size: 16px;
      color: white;
      font-family: "Lato-Light";
      background: url(../img/em.jpg) no-repeat left center;
      padding-left: 65px;
      padding-top: 4px;
      height: 32px; }
  @media only screen and (min-width: 768px) {
    .footer-top__right {
      width: 44%;
      float: right; } }
  .footer-top__right input[type="text"] {
    font-family: "Lato-Light";
    outline: none;
    border: none;
    width: 100%;
    height: 39px;
    background-color: white;
    border-radius: 12px;
    padding-left: 18px;
    font-size: 16px;
    color: #898989; }
    @media only screen and (min-width: 768px) {
      .footer-top__right input[type="text"] {
        float: left;
        width: calc(99% - 161px); } }
  .footer-top__right button {
    margin-top: 15px; }
    @media only screen and (min-width: 768px) {
      .footer-top__right button {
        margin-top: 0;
        float: right; } }

.footer-bottom {
  background: #1F5E98;
  padding-top: 37px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 992px) {
    .footer-bottom {
      padding-bottom: 44px; } }
  .footer-bottom .no-padding {
    padding: 0; }

.footer-box {
  font-size: 16px;
  color: white;
  font-family: "Lato-Light";
  text-align: center;
  padding-bottom: 25px; }
  @media only screen and (min-width: 992px) {
    .footer-box {
      text-align: left; } }
  .footer-box__left ul li {
    margin-bottom: 5px; }
    .footer-box__left ul li a {
      font-size: 16px;
      color: white;
      font-family: "Lato-Light"; }
  @media only screen and (min-width: 992px) {
    .footer-box__left ul:first-child {
      width: 32%;
      float: left; }
    .footer-box__left ul:last-child {
      width: 68%;
      float: left; } }
  .footer-box__middle_item img {
    margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    .footer-box__middle_item {
      width: 50%;
      float: left; }
      .footer-box__middle_item img {
        margin-left: 0; } }
  @media only screen and (min-width: 992px) and (min-width: 1240px) {
    .footer-box__middle_item p {
      padding-top: 16px; } }
  @media only screen and (min-width: 992px) {
    .footer-box__middle_bottom p {
      padding-top: 5px;
      line-height: 22px; } }
  @media only screen and (min-width: 1240px) {
    .footer-box__bottom {
      padding-left: 72px; } }
  .footer-box__bottom span {
    padding-left: 24px;
    padding-bottom: 10px; }
  .footer-box__bottom .fk1 {
    background: url(../img/f1.png) no-repeat left top 3px; }
  .footer-box__bottom .fk2 {
    position: relative; }
    .footer-box__bottom .fk2:after {
      position: absolute;
      content: "";
      width: 12px;
      height: 16px;
      left: 1px;
      bottom: -3px;
      background: url(../img/f2.png) no-repeat left center; }
  .footer-box__bottom .fk4 {
    background: url(../img/f3.png) no-repeat left top 5px; }

.viziters {
  padding-top: 25px; }
  .viziters__box {
    display: inline-block; }
    @media only screen and (min-width: 992px) {
      .viziters__box {
        float: left; } }
  .viziters__box:nth-child(2) {
    padding-top: 5px;
    padding-left: 19px; }

/* ╨Ю ╨║╨╛╨╝╨┐╨░╨╜╨╕╨╕
========================*/
.about-company__wrap h2 {
  padding: 48px 0px 52px; }
.about-company__wrap .about-company img {
  margin: 0 auto; }
.about-company__wrap .about-company .but_1__padding {
  margin-top: 25px; }
.about-company__wrap .about-company p {
  font-size: 16px;
  color: #656565;
  line-height: 27px;
  font-family: "Lato-Light"; }
.about-company__wrap .about-company p:nth-child(1) {
  padding-bottom: 26px; }
@media only screen and (min-width: 992px) {
  .about-company__wrap .about-company__right {
    padding-left: 10px; } }
@media only screen and (min-width: 1240px) {
  .about-company__wrap .about-company__right {
    padding-top: 26px; } }

/* Special
=======================*/
.special {
  border: 3px solid #949494;
  max-width: 462px;
  margin: 0 auto;
  padding: 15px 6px 21px;
  font-family: "Lato-Light"; }
  @media only screen and (min-width: 400px) {
    .special {
      padding: 9px 14px 24px; } }

.special__top {
  padding-bottom: 10px; }
  .special__top_left {
    color: #3c5e95;
    font-size: 25px; }
    @media only screen and (min-width: 480px) {
      .special__top_left {
        font-size: 30px;
        float: left; } }
  @media only screen and (min-width: 480px) {
    .special__top_right {
      float: right;
      padding-top: 17px; } }
  .special__top_right a {
    font-size: 16px;
    color: #f63642;
    text-decoration: underline; }

.special__middle {
  padding-top: 13px; }
  .special__middle .sp-middle {
    color: #3c5e95;
    font-size: 16px; }
  .special__middle p {
    color: #ada9a6;
    padding-top: 6px;
    line-height: 21px; }
  .special__middle_left {
    margin-top: 4px;
    text-align: center;
    padding-top: 10px; }
    @media only screen and (min-width: 400px) {
      .special__middle_left {
        text-align: left;
        display: inline-block;
        float: left; } }
    .special__middle_left span {
      font-size: 18px;
      color: #f63642; }
  .special__middle_right {
    margin-top: 6px; }
    @media only screen and (min-width: 400px) {
      .special__middle_right {
        display: inline-block;
        float: right; } }
  .special__middle_left2 {
    margin-top: 18px;
    text-align: center; }
    @media only screen and (min-width: 400px) {
      .special__middle_left2 {
        display: inline-block;
        float: left;
        text-align: left; } }
    .special__middle_left2 span {
      color: #ada9a6; }
  .special__middle_right2 {
    margin-top: 18px;
    text-align: center; }
    @media only screen and (min-width: 400px) {
      .special__middle_right2 {
        text-align: right;
        display: inline-block;
        float: right; } }

/* Timer
=======================*/
.special__bottom {
  background: #1F5E98;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 6px; }
  @media only screen and (min-width: 480px) {
    .special__bottom {
      padding: 10px 10px 6px; } }

.dd-times__txt {
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .dd-times__txt {
      float: left;
      text-align: left; } }
  .dd-times__txt span {
    font-family: "Lato-Heavy";
    font-size: 24px;
    color: #fff; }
    @media only screen and (min-width: 480px) {
      .dd-times__txt span {
        font-size: 19px; } }
    @media only screen and (min-width: 992px) {
      .dd-times__txt span {
        font-size: 24px; } }

.dd-times {
  width: 231px;
  margin: 0 auto; }
  @media only screen and (min-width: 480px) {
    .dd-times {
      float: right;
      width: 269px; } }
  @media only screen and (min-width: 992px) {
    .dd-times {
      width: 253px; } }
  .dd-times .dd-div {
    float: left;
    margin-left: 10px;
    height: 36px;
    width: 49px;
    position: relative;
    margin-top: 5px; }
    @media only screen and (min-width: 480px) {
      .dd-times .dd-div {
        margin-left: 18px; } }
    .dd-times .dd-div .line-timer {
      display: none; }
      @media only screen and (min-width: 480px) {
        .dd-times .dd-div .line-timer {
          display: block;
          position: absolute;
          width: 3px;
          height: 36px;
          left: 24px;
          top: 0;
          background: url(../img/lt.jpg); } }
    .dd-times .dd-div span {
      background: red;
      color: #fff;
      font-size: 30px;
      line-height: 15px;
      font-family: "Lato-Heavy";
      letter-spacing: 7px;
      padding-left: 5px;
      line-height: 36px; }
  .dd-times .no-margin {
    margin-left: 0; }
  .dd-times .dd-time-txt {
    width: 47px;
    float: left;
    padding-left: 8px; }
    @media only screen and (min-width: 480px) {
      .dd-times .dd-time-txt {
        padding-left: 10px; } }
    .dd-times .dd-time-txt span {
      font-family: "Lato-Heavy";
      font-size: 16px;
      line-height: 15px;
      color: #fff; }
  .dd-times .dd-time-txt1 {
    padding-left: 27px; }
    @media only screen and (min-width: 480px) {
      .dd-times .dd-time-txt1 {
        padding-left: 35px; } }
  .dd-times .dd-time-txt2 {
    padding-left: 26px; }
    @media only screen and (min-width: 480px) {
      .dd-times .dd-time-txt2 {
        padding-left: 44px; } }
  .dd-times .dd-time-txt3 {
    padding-left: 34px; }
    @media only screen and (min-width: 480px) {
      .dd-times .dd-time-txt3 {
        padding-left: 60px; } }

.kr {
  display: none;
  position: absolute;
  width: 6px;
  height: 16px;
  right: -13px;
  top: 10px;
  background: url(../img/kr.png) no-repeat; }
  @media only screen and (min-width: 480px) {
    .kr {
      display: block; } }

/* ╨Я╨╛╨┐╤Г╨╗╤П╤А╨╜╨╛╨╡
========================*/
.popular {
  text-align: center; }
  .popular h2 {
    padding-top: 62px;
    padding-bottom: 52px; }
  .popular .cart {
    display: inline-block;
    margin-bottom: 4px; }
  @media only screen and (min-width: 1240px) {
    .popular__left {
      float: left;
      width: 60%; } }
  @media only screen and (min-width: 1240px) {
    .popular__right {
      float: right;
      width: 40%; } }

/* ╨Э╨╛╨▓╨╕╨╜╨║╨╕
==========================*/
.news-mag h2 {
  padding-top: 55px;
  padding-bottom: 48px; }

.slider-news__wrap {
  max-width: 933px;
  margin: 0 auto; }

#slider__news .item .cart {
  margin: 0 auto;
  border: 3px solid #FF3340; }
#slider__news .nav-left2 {
  background: url(../img/left.png) no-repeat;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 768px) {
    #slider__news .nav-left2 {
      left: -15px; } }
  @media only screen and (min-width: 1240px) {
    #slider__news .nav-left2 {
      left: -117px; } }
#slider__news .nav-right2 {
  background: url(../img/right.png) no-repeat;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 768px) {
    #slider__news .nav-right2 {
      right: -15px; } }
  @media only screen and (min-width: 1240px) {
    #slider__news .nav-right2 {
      right: -117px; } }

#slider__actions .item .cart {
  margin: 0 auto;
  border: 3px solid #FF3340; }
#slider__actions .nav-left3 {
  background: url(../img/left.png) no-repeat;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 768px) {
    #slider__actions .nav-left3 {
      left: -15px; } }
  @media only screen and (min-width: 1240px) {
    #slider__actions .nav-left3 {
      left: -117px; } }
#slider__actions .nav-right3 {
  background: url(../img/right.png) no-repeat;
  width: 14px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 768px) {
    #slider__actions .nav-right3 {
      right: -15px; } }
  @media only screen and (min-width: 1240px) {
    #slider__actions .nav-right3 {
      right: -117px; } }

/* biznes
=======================*/
.biznes h2 {
  padding: 54px 0px 27px; }

.biznes-link {
  text-align: right; }
  .biznes-link a {
    font-size: 16px;
    color: #f63642;
    font-family: "Lato-Light";
    text-decoration: underline;
    display: inline-block;
    padding-bottom: 12px; }

.biznes-box {
  margin-bottom: 28px;
  position: relative; }
  .biznes-box img {
    width: 100%;
    z-index: 10; }
  .biznes-box:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; }
  .biznes-box:hover:after {
    background: rgba(0, 0, 0, 0.7); }
  .biznes-box__txt {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; }
    .biznes-box__txt span {
      color: #fff;
      font-size: 18px;
      font-family: "MyriadPro-Light"; }
      @media only screen and (min-width: 992px) {
        .biznes-box__txt span {
          font-size: 33px; } }

/* Contact
=======================*/
.contact {
  background: url(../img/cbg.jpg) no-repeat top center;
  background-size: cover; }

.contact-info {
  color: #fff;
  margin-bottom: 112px; }
  @media only screen and (min-width: 992px) {
    .contact-info {
      padding: 0 26px; } }
  .contact-info span {
    font-size: 13px;
    line-height: 41px;
    font-family: "MyriadPro-Regular"; }
    @media only screen and (min-width: 480px) {
      .contact-info span {
        font-size: 18px; } }
  .contact-info span:first-child {
    font-size: 40px;
    margin-bottom: 44px; }
    @media only screen and (min-width: 768px) {
      .contact-info span:first-child {
        font-size: 62px; } }

.map {
  margin-top: 38px;
  margin-bottom: 59px; }

.map-title {
  text-align: center; }
  .map-title h2 {
    padding-top: 26px;
    padding-bottom: 19px; }
  .map-title p {
    font-size: 16px;
    color: #656565;
    line-height: 27px;
    font-family: "Lato-Light"; }

/* News
========================*/
.news-wr {
  background: url(../img/nbg.jpg) no-repeat top center;
  background-size: cover; }

.news h2 {
  padding-top: 46px;
  padding-bottom: 52px; }

.news__box_right {
  margin-bottom: 26px;
  font-family: "Lato-Light"; }
  .news__box_right span {
    color: #f62d3a;
    font-size: 16px;
    line-height: 28px; }
  .news__box_right h3 {
    font-size: 26px;
    color: black;
    line-height: 28px;
    padding-bottom: 13px; }
    @media only screen and (min-width: 768px) {
      .news__box_right h3 {
        font-size: 30px; } }
  .news__box_right p {
    color: #656565;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 14px; }
.news__box_left {
  margin-bottom: 26px; }
  .news__box_left img {
    margin: 0 auto; }

.pagination__news {
  padding: 20px 0px; }
  @media only screen and (min-width: 768px) {
    .pagination__news {
      padding-top: 70px;
      padding-bottom: 60px; } }

/* Order
========================*/
.order {
  background: url(../img/order.jpg) no-repeat top center;
  width: 100%;
  background-size: cover; }

.order-box__input {
  height: 46px;
  border: 2px solid #959497;
  color: black;
  font-family: "Lato-Light";
  font-size: 16px;
  padding-left: 13px;
  padding-right: 5px;
  width: 100%;
  outline: none;
  margin-bottom: 19px; }
  .order-box__input::-webkit-input-placeholder {
    color: black; }
  .order-box__input::-moz-placeholder {
    color: black; }
  .order-box__input:-moz-placeholder {
    color: black; }
  .order-box__input:-ms-input-placeholder {
    color: black; }

.label__check {
  color: black;
  font-family: "Lato-Light";
  font-size: 16px;
  cursor: pointer; }
  .label__check b {
    font-size: 12px; }
  .label__check_bottom {
    margin-bottom: 7px; }

select {
  cursor: pointer; }

textarea {
  resize: none;
  min-height: 94px;
  padding-top: 13px; }

.order-title {
  font-size: 16px;
  font-family: "Lato-Heavy";
  color: black; }
  .order-title__last {
    padding-bottom: 20px;
    padding-top: 19px; }

.order-box__right_item {
  margin-bottom: 21px; }
  .order-box__right_item .checkbox-custom2 {
    margin-top: -17px; }

/*# sourceMappingURL=style.css.map */
