html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
span{
    display:inline-block;
}
.clear{
    clear:both;
}


/* Header
========================*/
.container{
    @media only screen and (min-width: 992px) {
        padding: 0;
    }
}
.container-menu{
    width: 100%;
    padding: 0 5px;
    @media only screen and (min-width: 1240px) {
        width: 1172px;
        margin: 0 auto;
    }
}
.header-top{
    background:#1F5E98;
    width: 100%;
    min-height: 44px;
    position: relative;
    @media only screen and (min-width: 992px) {
        height: 60px;
    }
    .bars{
        position: absolute;
        left: 10px;
        top: 10px;
        @media only screen and (min-width: 992px) {
            display: none;
        }
        .fa-bars{
            color: #fff;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

.main-menu{
    text-align: center;
    display: none;
    @media only screen and (min-width: 992px) {
        display: block !important;
    }
    ul{

        padding: 36px 0px 10px;
        @media only screen and (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        li{
            a, span{
                font-size: 16px;
                color: #fff;
                font-family: "Lato-Light";
            }
            .rice{
                display: none;
                @media only screen and (min-width: 992px) {
                    display: inline-block;
                }
            }
            a{
                display: block;
                padding: 9px 0px;
                position: relative;
                @media only screen and (min-width: 992px) {
                    display: inline-block;
                    line-height: 39px;
                }
                &:hover{
                    background:rgba(#fff, 0.5);
                    @media only screen and (min-width: 992px) {
                        background:none;
                    }
                }
            }
            @media only screen and (min-width: 992px) {
                .menu-item{
                    width: 118px;
                    &:hover{
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
        li:last-child{
            @media only screen and (min-width: 1240px) {
                margin-right: 43px;
                margin-left: 82px;
            }
            .enter{
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 20px;
                    background:url(../img/zamok.png) no-repeat;
                    left: -28px;
                    top:16px;
                }
            }
        }
    }
}

/* header-bottom
=======================*/
.header-bottom{
  @media only screen and (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
&__box{
    font-family: "Lato-Light";
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    line-height: 23px;
    @media only screen and (min-width: 992px) {
        text-align: left;
    }
    &_inner{
        width: 240px;
        margin: 0 auto;
    }
    &_inner1{
        float: left;
        span{
            color:black;
        }
    }
    &_inner1:nth-child(2){
        padding-left: 30px;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
 &__box:nth-child(1){
    padding-left: 6px;
}
&__box:nth-child(2){
    width: 26%;
}
&__box:nth-child(3){
    padding-top: 10px;
}
&__box:nth-child(4){
    padding-left: 10px;
}
}
&__box:nth-child(2){
    margin-top: -20px;
    @media only screen and (min-width: 992px) {
        margin-top: 0;
    }
}
&__box:nth-child(3){
  font-family: "MyriadPro-Regular";
}
&__box:nth-child(4){
    span{
        display: inline-block;
        position: relative;
        padding-left: 21px;
    }
    span:first-child:after{
        position: absolute;
        content: "";
        top: 11px;
        left: 0;
        width: 15px;
        height: 25px;
        background:url(../img/tel.png) no-repeat left center;
    }
    span:last-child:after{
     position: absolute;
     content: "";
     top: 5px;
     left: -2px;
     width: 19px;
     height: 13px;
     background:url(../img/email.png) no-repeat left center;
 }
}
}
.poisk-wrap{
    max-width: 606px;
    margin: 0 auto;
    position: relative;
    input[type="text"]{
        width: 100%;
        outline: none;
        height: 39px;
        background-color: white;
        border: 4px solid #3c5e95;
        border-radius: 4px;
        padding-left: 4px;
        padding-right: 38px;
        font-size: 16px;
        color: #989898;
        font-family: "Lato-Light";
    }
    input[type="submit"]{
        background:url(../img/lupa.png) no-repeat;
        width: 12px;
        height: 12px;
        outline: none;
        border:none;
    }
    .poisk-button{
        position: absolute;
        right: 18px;
        top:9px;
    }
}

/* Slider
===========================*/
.header-slider{
    background:url(../img/bg.jpg) no-repeat top center;
    padding-top: 69px;
    width: 100%;
    background-size:cover;
    margin-top: 22px;
    padding-bottom: 20px;
}
.header-title{
    color: #fff;
    font-family: "Lato-Light";
    // font-size: 60px;
    display: inline-block;
    position: relative;
    font-size: 39px;
    padding-left: 10px;
    margin-bottom: 33px;
    &:after{
        position: absolute;
        content: "";
        width: 55px;
        height: 2px;
        left: 42px;
        bottom: -16px;
        background:url(../img/cherta.png) no-repeat;    
    }
    @media only screen and (min-width: 768px) {
        padding-left: 39px;
        font-size: 60px;
    }
}
.header-slogan{
 font-family: "Lato-Heavy";
 display: inline-block;
 font-size: 20px;
 color: #fff;
 padding-left: 10px;
 padding-bottom: 20px;
 @media only screen and (min-width: 768px) {
     padding-left: 39px;
     font-size: 24px;
     padding-bottom: 128px;
 }
}
.slider-container{
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 6px;
}
.slider-wrap{
    background:#fff;
    padding-top: 13px;
    padding-bottom: 16px;
}
.stickytop{
    position: fixed;
    width: 100%;
    background:rgba(#fff,0.9);
    top:0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.slider-line{
    height: 2px;
    width: 100%;
    background:url(../img/line2.jpg) no-repeat top center;
    background-size:cover;
}
#slider__actual{

    .item-box-img1{
        background:url(../img/p1.png) no-repeat top center;
    }
    .item-box-img2{
        background:url(../img/p2-1.png) no-repeat top center;
    }
    .item-box-img3{
        background:url(../img/p3.png) no-repeat top center;
    }
    .item-box-img4{
        background:url(../img/p4.png) no-repeat top center;
    }
    .item-box-img5{
        background:url(../img/p5.png) no-repeat top center;
    }
    .item-box-img6{
        background:url(../img/p6.png) no-repeat top center;
    }
    .item-box-img7{
        background:url(../img/p7.png) no-repeat top center;
    }
    .item-box-img8{
        background:url(../img/p8.png) no-repeat top center;
    }
    .item-box-img9{
        background:url(../img/p9.png) no-repeat top center;
    }
    .item-box-img10{
        background:url(../img/p10.png) no-repeat top center;
    }
    
    .owl-dots{
        display: none !important;
    }
//     @media only screen and (min-width: 1240px) {
//      .owl-dots{
//         text-align: center;
//         width: 100%;
//         position: absolute;
//         left: 50%;
//         transform: translateX(-50%);
//         bottom:-14px;
//     // background:#B0ABA7;
//     .owl-dot{
//         background:#B0ABA7;
//         display: inline-block;
//         width: 10%;
//         margin-left: 10px;
//         span{
//             float: left;
//             width: 50%;
//             display: inline-block;
//             border-radius:10em;
//             background:#fff;
//             height: 4px;  
//             background:#B0ABA7;
//         }
//     }
//     .active{
//         width: 10%;
//         background:#1F5E98;
//         span{
//             border-radius:10em;
//             height: 4px; 
//             background:#1F5E98;
//         }
//     }
// }
// }
.item-box{
    text-align: center;
    width: 90px;
    a{
        display: inline-block;
    }
    @media only screen and (min-width: 992px) {
        width: 116%;
    }
    @media only screen and (min-width: 1240px) {
        width: 100%;
    }
    .item-box-img{
        width: 40px;
        height: 39px;
        margin: 0 auto;
        text-align: center;
    }
    p{
        color: #155793;
        font-size: 11px;
        font-family: "Lato-Light";
        padding: 0 8px;
    }
}
}
.item-box__1{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img1{
    background:url(../img/p1-2.png) no-repeat top center !important;
}
}
}
}
.item-box__2{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img2{
    background:url(../img/p2.png) no-repeat top center !important;
}
}
}
}
.item-box__3{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img3{
    background:url(../img/p3-2.png) no-repeat top center !important;
}
}
}
}
.item-box__4{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img4{
    background:url(../img/p4-2.png) no-repeat top center !important;
}
}
}
}
.item-box__5{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img5{
    background:url(../img/p5-2.png) no-repeat top center !important;
}
}
}
}
.item-box__6{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img6{
    background:url(../img/p6-2.png) no-repeat top center !important;
}
}
}
}
.item-box__7{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img7{
    background:url(../img/p7-2.png) no-repeat top center !important;
}
}
}
}
.item-box__8{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img8{
    background:url(../img/p8-2.png) no-repeat top center !important;
}
}
}
}
.item-box__9{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img9{
    background:url(../img/p9-2.png) no-repeat top center !important;
}
}
}
}
.item-box__10{
 a{
  display: inline-block;  
  &:hover{
   p{
    color: red !important;
}
.item-box-img10{
    background:url(../img/p10-2.png) no-repeat top center !important;
}
}
}
}
.nav-left{
    background: url(../img/left.png) no-repeat;
    width: 14px;
    height: 24px;
    position:absolute;
    top:31%;
    left:0px;
    transform: translate(-50);
    @media only screen and (min-width: 992px) {
        left: -10px;
        top: 26%;
    }
    @media only screen and (min-width: 1240px) {
        top:33%;
        left:-58px;
    }
}
.nav-right{
    background: url(../img/right.png) no-repeat;
    width: 14px;
    height: 24px;
    position:absolute;
    top:31%;
    right:0px;
    transform: translate(-50);
    @media only screen and (min-width: 992px) {
        right: -10px;
        top: 26%;
    }
    @media only screen and (min-width: 1240px) {
        top:33%;
        right: -58px;
    }
}

/* Footer
===============================*/
.footer-top{
    background:#1F5E98;
    width: 100%;
    border-bottom: 1px solid #C5C5C5;
    padding: 11px 0px;
    &__left{
        margin-bottom: 15px;
        @media only screen and (min-width: 768px) {
            width: 56%;
            float: left;
            margin-bottom: 0;
            padding-top: 5px;
        }
        span{
            font-size: 16px;
            color: white;
            font-family: "Lato-Light";
            background:url(../img/em.jpg) no-repeat left center;
            padding-left: 65px;
            padding-top: 4px;
            height: 32px;
        }
    }
    &__right{
        @media only screen and (min-width: 768px) {
            width: 44%;
            float: right;
        }
        input[type="text"]{
         font-family: "Lato-Light";
         outline: none;
         border:none;
         width: 100%;
         height: 39px;
         background-color: white;
         border-radius: 12px;
         padding-left: 18px;
         font-size: 16px;
         color: #898989;
         @media only screen and (min-width: 768px) {
             float: left;
             width: calc(99% - 161px);
         }
     }
     button{
        margin-top: 15px;
        @media only screen and (min-width: 768px) {
            margin-top: 0;
            float: right;
        }
    }
}
}
.footer-bottom{
    background:#1F5E98;
    padding-top: 37px;
    padding-bottom: 20px;
    @media only screen and (min-width: 992px) {
        padding-bottom: 44px;
    }
    .no-padding{
        padding: 0;
    }
}
.footer-box{
    font-size: 16px;
    color: white;
    font-family: "Lato-Light";
    text-align: center;
    padding-bottom: 25px;
    @media only screen and (min-width: 992px) {
        text-align: left;
    }
    &__left{
        ul{
            li{
                margin-bottom: 5px;
                a{
                 font-size: 16px;
                 color: white;
                 font-family: "Lato-Light";
             }
         }
     }
     @media only screen and (min-width: 992px) {
        ul:first-child{
            width: 32%;
            float: left;
        }
        ul:last-child{
            width: 68%;
            float: left;
        }
    }
}
&__middle{
    &_item{

        img{
            margin: 0 auto;
        }
    }
}
@media only screen and (min-width: 992px) {
 &__middle{
    &_item{
        width: 50%;
        float: left;
        img{
            margin-left: 0;
        }
        p{
            @media only screen and (min-width: 1240px) {
                padding-top: 16px;
            }
        }
    } 
    &_bottom{
        p{
            padding-top: 5px;
            line-height: 22px;
        }
    }
}
}
&__bottom{
  @media only screen and (min-width: 1240px) {
    padding-left: 72px;
}
span{
    padding-left: 24px;
    padding-bottom: 10px;
}
.fk1{
    background: url(../img/f1.png) no-repeat left top 3px;
}
.fk2{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        width: 12px;
        height: 16px;
        left:1px;
        bottom:-3px;
        background: url(../img/f2.png) no-repeat left center;
    }
}
.fk4{
    background: url(../img/f3.png) no-repeat left top 5px;
}
}
}
.viziters{
    padding-top: 25px;
    &__box{
        display: inline-block;
        @media only screen and (min-width: 992px) {
            float: left;
        }
    }
    &__box:nth-child(2){
        padding-top: 5px;
        padding-left: 19px;
    }
}

/* О компании
========================*/
.about-company__wrap{
    h2{
        padding: 48px 0px 52px;
    }
    .about-company{
        img{
            margin: 0 auto;
        }
        .but_1__padding{
            margin-top: 25px;
        }
        p{
            font-size: 16px;
            color: #656565;
            line-height: 27px;
            font-family: "Lato-Light";
        }
        p:nth-child(1){
            padding-bottom: 26px;
        }
        &__right{
            @media only screen and (min-width: 992px) {
                padding-left: 10px;
                // padding-top: 26px;
            }
            @media only screen and (min-width: 1240px) {
                padding-top: 26px;
            }
        }
    }
}

/* Special
=======================*/
.special{
    border: 3px solid #949494;
    max-width: 462px;
    margin: 0 auto;
    padding: 15px 6px 21px;
    font-family: "Lato-Light";
    @media only screen and (min-width: 400px) {
        padding: 9px 14px 24px;
    }
}
.special__top{
    padding-bottom: 10px;
    &_left{
        color: #3c5e95;
        font-size: 25px;
        @media only screen and (min-width: 480px) {
            font-size: 30px;
            float: left;
        }
    }
    &_right{
     @media only screen and (min-width: 480px) {
        float: right;
        padding-top: 17px;
    }
    a{
        font-size: 16px;
        color: #f63642;
        text-decoration: underline;
    }
}
}
.special__middle{
    padding-top: 13px;
    .sp-middle{
        color: #3c5e95;
        font-size: 16px;
    }
    p{
        color: #ada9a6;
        padding-top: 6px;
        line-height: 21px;
    }
    &_left{
        margin-top: 4px;
        text-align: center;
        @media only screen and (min-width: 400px) {
            text-align: left;
            display: inline-block;
            float: left;
        }
        padding-top: 10px;
        span{
            font-size: 18px;
            color: #f63642;
        }
    }
    &_right{
        margin-top: 6px;
        @media only screen and (min-width: 400px) {
            display: inline-block;
            float: right;
        }
    }
    &_left2{
        margin-top: 18px;
        text-align: center;
        @media only screen and (min-width: 400px) {
            display: inline-block;
            float: left;
            text-align: left;
        }
        span{
            color: #ada9a6;
        }
    }
    &_right2{
        margin-top: 18px;
        text-align: center;
        @media only screen and (min-width: 400px) {
            text-align: right;
            display: inline-block;
            float: right;
        }
    }
}

/* Timer
=======================*/
.special__bottom{
    background:#1F5E98;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    @media only screen and (min-width: 480px) {
        padding: 10px 10px 6px;
    }
}
.dd-times__txt{
    text-align: center;
    @media only screen and (min-width: 480px) {
        float: left;
        text-align: left;
    }
    span{
        font-family: "Lato-Heavy";
        font-size: 24px;
        color: #fff;
        @media only screen and (min-width: 480px) {
            font-size: 19px;
        }
        @media only screen and (min-width: 992px) {
            font-size: 24px;
        }
    }
}
.dd-times{
    width: 231px;
    margin: 0 auto;
    @media only screen and (min-width: 480px) {
        float: right;
        width: 269px;
    }
    @media only screen and (min-width: 992px) {
        width: 253px;
    }
    .dd-div{
        float: left;
        margin-left: 10px;
        height: 36px;
        width: 49px;
        position:relative;
        margin-top: 5px;
        // outline: 1px solid red;
        @media only screen and (min-width: 480px) {
            margin-left: 18px;
        }
        .line-timer{
            display: none;
            @media only screen and (min-width: 480px) {
                display: block;
                position: absolute;
                width: 3px;
                height: 36px;
                left: 24px;
                top:0;
                background:url(../img/lt.jpg);
            }
        }
        span{
            background:red;
            color:#fff;
            font-size: 30px;
            line-height: 15px;
            font-family: "Lato-Heavy";
            letter-spacing: 7px;
            padding-left: 5px;
            line-height: 36px;
        }
    }
    .no-margin{
        margin-left: 0;
    }
    .dd-time-txt{
        width: 47px;
        float: left;
        padding-left:8px;
        @media only screen and (min-width: 480px) {
            padding-left: 10px;
        }
        span{
          font-family: "Lato-Heavy";
          font-size: 16px;
          line-height: 15px;
          color: #fff;
      }
  }
  .dd-time-txt1{
    padding-left: 27px;
    @media only screen and (min-width: 480px) {
        padding-left: 35px;
    }
}
.dd-time-txt2{
    padding-left:26px;
    @media only screen and (min-width: 480px) {
        padding-left: 44px;
    }
}
.dd-time-txt3{
    padding-left:34px;
    @media only screen and (min-width: 480px) {
        padding-left: 60px;
    }
}
}
.kr{
    display: none;
    position: absolute;
    width: 6px;
    height: 16px;
    right: -13px;
    top: 10px;
    background:url(../img/kr.png) no-repeat;
    @media only screen and (min-width: 480px) {
        display: block;
    }
}

/* Популярное
========================*/
.popular{
    text-align: center;
    h2{
        padding-top: 62px;
        padding-bottom: 52px;
    }
    .cart{
        display: inline-block;
        margin-bottom: 4px;
    }
    &__left{
        @media only screen and (min-width: 1240px) {
            float: left;
            width: 60%;
        }
    }
    &__right{
        @media only screen and (min-width: 1240px) {
            float: right;
            width: 40%;
        }
    }
}

/* Новинки
==========================*/
.news-mag{
    h2{
        padding-top: 55px;
        padding-bottom: 48px;
    }
}
.slider-news__wrap{
    max-width: 933px;
    margin: 0 auto;
}
#slider__news{
    .item{
        .cart{
            margin: 0 auto;
            border:3px solid #FF3340;
        }
    }
    .nav-left2{
        background: url(../img/left.png) no-repeat;
        width: 14px;
        height: 24px;
        position:absolute;
        top:50%;
        left:0px;
        transform: translateY(-50%);
        @media only screen and (min-width: 768px) {
            left: -15px;
        }
        @media only screen and (min-width: 1240px) {
            left:-117px;
        }
    }
    .nav-right2{
        background: url(../img/right.png) no-repeat;
        width: 14px;
        height: 24px;
        position:absolute;
        top:50%;
        right:0px;
        transform: translateY(-50%);
        @media only screen and (min-width: 768px) {
            right: -15px;
        }
        @media only screen and (min-width: 1240px) {
            right: -117px;
        }
    }
}

#slider__actions{
    .item{
        .cart{
            margin: 0 auto;
            border:3px solid #FF3340;
        }
    }
    .nav-left3{
        background: url(../img/left.png) no-repeat;
        width: 14px;
        height: 24px;
        position:absolute;
        top:50%;
        left:0px;
        transform: translateY(-50%);
        @media only screen and (min-width: 768px) {
            left: -15px;
        }
        @media only screen and (min-width: 1240px) {
            left:-117px;
        }
    }
    .nav-right3{
        background: url(../img/right.png) no-repeat;
        width: 14px;
        height: 24px;
        position:absolute;
        top:50%;
        right:0px;
        transform: translateY(-50%);
        @media only screen and (min-width: 768px) {
            right: -15px;
        }
        @media only screen and (min-width: 1240px) {
            right: -117px;
        }
    }
}

/* biznes
=======================*/
.biznes{
    h2{
        padding: 54px 0px 27px;
    }
}
.biznes-link{
    text-align: right;
    a{
        font-size: 16px;
        color: #f63642;
        font-family: "Lato-Light";
        text-decoration: underline;
        display: inline-block;
        padding-bottom: 12px;
    }
}
.biznes-box{
    margin-bottom: 28px;
    position: relative;
    img{
        width: 100%;
        z-index: 10;
    }
    &:after{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 100%;
        background:rgba(black, 0.5);
        z-index: 100;
    }
    &:hover:after{
     background:rgba(black, 0.7);
 }
 &__txt{
    position: absolute;
    top:41%;
    left:50%;
    transform: translateX(-50%);
    z-index: 9999;
    span{
        color:#fff;
        font-size: 18px;
        font-family: "MyriadPro-Light";
        @media only screen and (min-width: 992px) {
            font-size: 33px;
        }
    }
}
}

/* Contact
=======================*/
.contact{
    background:url(../img/cbg.jpg) no-repeat top center;
    background-size:cover;
}
.contact-info{
    color:#fff;
    margin-bottom: 112px;
    @media only screen and (min-width: 992px) {
     padding: 0 26px;
 }
 span{
    font-size: 13px;
    line-height: 41px;
    font-family: "MyriadPro-Regular";
    @media only screen and (min-width: 480px) {
        font-size: 18px;
    }
}
span:first-child{
    font-size: 40px;
    margin-bottom: 44px;
    @media only screen and (min-width: 768px) {
        font-size: 62px;
    }
}
}
.map{
    margin-top: 38px;
    margin-bottom: 59px;
}
.map-title{
    text-align: center;
    h2{
        padding-top: 26px;
        padding-bottom: 19px;
    }
    p{
        font-size: 16px;
        color: #656565;
        line-height: 27px;
        font-family: "Lato-Light";
    }
}

/* News
========================*/
.news-wr{
    background:url(../img/nbg.jpg) no-repeat top center;
    background-size:cover;
}
.news{
    h2{
        padding-top: 46px;
        padding-bottom: 52px;
    }
}
.news__box{
    &_right{
        margin-bottom: 26px;
        font-family: "Lato-Light";
        span{
            color: #f62d3a;
            font-size: 16px;
            line-height: 28px;
        }
        h3{
            font-size: 26px;
            color: black;
            line-height: 28px;
            padding-bottom: 13px;
            @media only screen and (min-width: 768px) {
                font-size: 30px;
            }
        }
        p{
            color: #656565;
            font-size: 16px;
            line-height: 27px;
            padding-bottom: 14px;
        }
    }
    &_left{
        margin-bottom: 26px;
        img{
            margin: 0 auto;
        }
    }
}
.pagination__news{
    padding: 20px 0px;
    @media only screen and (min-width: 768px) {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

/* Order
========================*/
.order{
    background:url(../img/order.jpg) no-repeat top center;
    width: 100%;
    background-size:cover;
}
.order-content{
    h2{
        padding-top: 56px;
        padding-bottom: 51px;
    }
}
.order-box__input{
    height: 46px;
    border: 2px solid #959497;
    color: black;
    font-family: "Lato-Light";
    font-size: 16px;
    padding-left: 13px;
    padding-right: 5px;
    width: 100%;
    outline: none;
    margin-bottom: 19px;
    &::-webkit-input-placeholder {color: black;}
    &::-moz-placeholder          {color: black;}
    &:-moz-placeholder           {color: black;}
    &:-ms-input-placeholder      {color: black;}
}
.label__check{
  color: black;
  font-family: "Lato-Light";
  font-size: 13px;
  cursor: pointer;
  @media only screen and (min-width: 1240px) {
    font-size: 16px;
}
b{
    font-size: 12px;
}
&_bottom{
    margin-bottom: 7px;
}
}
select{
    cursor: pointer;
}
textarea{
    resize:none;
    min-height: 94px;
    padding-top: 13px;
}
.order-title{
    font-size: 16px;
    font-family: "Lato-Heavy";
    color: black;
    &__last{
        padding-bottom: 20px;
        padding-top: 19px;
    }
}
.order-box__left{
    margin-bottom: 20px;
    .selectric{
        background:#fff;
        outline: none;
        border:2px solid #959497;
        margin-bottom: 19px;
        padding-left: 2px;
    }
    .selectric .label{
      font-family: "Lato-Light";
      font-size: 16px;
      color: black;
  }
  .selectric .button{
    background:#fff;
    top:2px;
    &:after{
     border: 5px solid transparent;
     border-top-color: #0e0e0e;
 }
}
 .selectric-items li{
  color: black;
  font-family: "Lato-Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  cursor: pointer;   
  background-color: #fff;
      padding: 5px 10px;
  &:hover{
   background: #D5D5D5;
   color: #444;
  }
 }
}
.order-box__right{
    &_item{
        margin-bottom: 21px;
        .checkbox-custom2{
            margin-top: -17px;
        }
    }
}
.busket__allsummbox2{
    border-top: 3px solid #3C5E95;
    padding-top: 20px;
    .busket__tovar{
        width: 100%;
    }
    .busket__tovar__cap, .busket__tovar__summ{
        display: inline-block;
    }
}