html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
span{
    display:inline-block;
}
.clear{
    clear:both;
}


/* Header
========================*/
.container{
    @media only screen and (min-width: 992px) {
        padding: 0;
    }
}
.container-menu{
    width: 100%;
    padding: 0 5px;
    @media only screen and (min-width: 1240px) {
        width: 1172px;
        margin: 0 auto;
    }
}
.header-top{
    background:#1F5E98;
    width: 100%;
    min-height: 44px;
    position: relative;
    @media only screen and (min-width: 992px) {
        height: 60px;
    }
    .bars{
        position: absolute;
        left: 10px;
        top: 10px;
        @media only screen and (min-width: 992px) {
            display: none;
        }
        .fa-bars{
            color: #fff;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

.main-menu{
    text-align: center;
    display: none;
    @media only screen and (min-width: 992px) {
        display: block !important;
    }
    ul{

        padding: 36px 0px 10px;
        @media only screen and (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        li{
            a, span{
                font-size: 16px;
                color: #fff;
                font-family: "Lato-Light";
            }
            .rice{
                display: none;
                @media only screen and (min-width: 992px) {
                    display: inline-block;
                }
            }
            a{
                display: block;
                padding: 9px 0px;
                position: relative;
                @media only screen and (min-width: 992px) {
                    display: inline-block;
                    line-height: 39px;
                }
                &:hover{
                    background:rgba(#fff, 0.5);
                    @media only screen and (min-width: 992px) {
                        background:none;
                    }
                }
            }
            @media only screen and (min-width: 992px) {
                .menu-item{
                    width: 118px;
                    &:hover{
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
        li:last-child{
            @media only screen and (min-width: 1240px) {
                margin-right: 43px;
                margin-left: 82px;
            }
            .enter{
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 20px;
                    background:url(../img/zamok.png) no-repeat;
                    left: -28px;
                    top:16px;
                }
            }
        }
    }
}

/* header-bottom
=======================*/
.header-bottom{
  @media only screen and (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
&__box{
    font-family: "Lato-Light";
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    line-height: 23px;
    @media only screen and (min-width: 992px) {
        text-align: left;
    }
    &_inner{
        width: 240px;
        margin: 0 auto;
    }
    &_inner1{
        float: left;
    }
    &_inner1:nth-child(2){
        padding-left: 30px;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
 &__box:nth-child(1){
    padding-left: 6px;
}
&__box:nth-child(2){
    width: 26%;
}
&__box:nth-child(3){
    padding-top: 10px;
}
&__box:nth-child(4){
    padding-left: 10px;
}
}
&__box:nth-child(2){
    margin-top: -20px;
    @media only screen and (min-width: 992px) {
        margin-top: 0;
    }
}
&__box:nth-child(3){
  font-family: "MyriadPro-Regular";
}
&__box:nth-child(4){
    span{
        display: inline-block;
        position: relative;
        padding-left: 21px;
    }
    span:first-child:after{
        position: absolute;
        content: "";
        top: 6px;
        left: 0;
        width: 15px;
        height: 25px;
        background:url(../img/tel.png) no-repeat left center;
    }
    span:last-child:after{
     position: absolute;
     content: "";
     top: 3px;
     left: -2px;
     width: 19px;
     height: 13px;
     background:url(../img/email.png) no-repeat left center;
 }
}
}
.poisk-wrap{
    max-width: 606px;
    margin: 0 auto;
    position: relative;
    input[type="text"]{
        width: 100%;
        outline: none;
        height: 39px;
        background-color: white;
        border: 4px solid #3c5e95;
        border-radius: 4px;
        padding-left: 4px;
        padding-right: 38px;
        font-size: 16px;
        color: #989898;
        font-family: "Lato-Light";
    }
    input[type="submit"]{
        background:url(../img/lupa.png);
        width: 12px;
        height: 12px;
        outline: none;
        border:none;
    }
    .poisk-button{
        position: absolute;
        right: 18px;
        top:9px;
    }
}

/* Slider
===========================*/
.header-slider{
    background:url(../img/bg.jpg) no-repeat top center;
    padding-top: 69px;
    width: 100%;
    background-size:cover;
    margin-top: 22px;
    padding-bottom: 20px;
}
.header-title{
    color: #fff;
    font-family: "Lato-Light";
    // font-size: 60px;
    display: inline-block;
    position: relative;
    font-size: 39px;
    padding-left: 10px;
    margin-bottom: 33px;
    &:after{
        position: absolute;
        content: "";
        width: 55px;
        height: 2px;
        left: 42px;
        bottom: -16px;
        background:url(../img/cherta.png) no-repeat;    
    }
    @media only screen and (min-width: 768px) {
        padding-left: 39px;
        font-size: 60px;
    }
}
.header-slogan{
 font-family: "Lato-Heavy";
 display: inline-block;
 font-size: 20px;
 color: #fff;
 padding-left: 10px;
 padding-bottom: 20px;
 @media only screen and (min-width: 768px) {
     padding-left: 39px;
     font-size: 24px;
     padding-bottom: 128px;
 }
}
.slider-container{
    max-width: 1040px;
    margin: 0 auto;
    padding-bottom: 6px;
}
.slider-wrap{
    background:#fff;
    padding-top: 13px;
    padding-bottom: 16px;
}
.slider-line{
    height: 2px;
    width: 100%;
    background:url(../img/line2.jpg) no-repeat top center;
    background-size:cover;
}
#slider__actual{
    .owl-dots{
        cursor:none; 
    }
    .item-box{
        text-align: center;
        width: 90px;
        // outline: 1px solid red;
        @media only screen and (min-width: 992px) {
            width: 116%;
        }
        .item-box-img{
            width: 39px;
            height: 39px;
            margin: 0 auto;
            text-align: center;
        }
        p{
            color: #155793;
            font-size: 11px;
            font-family: "Lato-Light";
            padding: 0 10px;
        }
    }
}
.nav-left{
    background: url(../img/left.png) no-repeat;
    width: 14px;
    height: 24px;
    position:absolute;
    top:13%;
    left:0px;
    transform: translate(-50);
    @media only screen and (min-width: 992px) {
        left: -10px;
        top: 23%;
    }
    @media only screen and (min-width: 1240px) {
        top:31%;
        left:-53px;
    }
}
.nav-right{
    background: url(../img/right.png) no-repeat;
    width: 14px;
    height: 24px;
    position:absolute;
    top:13%;
    right:0px;
    transform: translate(-50);
    @media only screen and (min-width: 992px) {
        right: -10px;
        top: 23%;
    }
    @media only screen and (min-width: 1240px) {
        top:31%;
        right: -53px;
    }
}